* {
    margin: 0;
    padding: 0;
}

html,
body,
.app {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -50px;
}

h1, h2, main {
    padding: 5px;
}

footer, .push {
    height: 50px;
    text-align: center;
    font-family: sans-serif;
}

body {
    width: 400px;
    margin: 0 auto;
}

h1, h2, p {
    font-weight: normal;
    padding-top: 5px;
    font-family: sans-serif;
}

p {
    padding-top: 12px;
    font-family: serif;
}

article {
    font-family: serif;
}

footer {
    position: relative;
    top: -5px;
}

noindex {
    display: block;
    width: 100%;
}

.flag-icon {
    margin-left: 5px;
}

.lang-changer {
    visibility: hidden;
    margin: 3px 0;
    font-size: smaller;
}
